* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 18px;
  font-family: "Hanken Grotesk", sans-serif;
  background-color: hsl(221, 100%, 96%);
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

h1 {
  display: none;
}

main {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
main .result {
  background-image: linear-gradient(to top, hsl(241, 81%, 54%), hsl(252, 100%, 67%));
  border-radius: 30px;
  flex-basis: 50%;
  padding: 2rem 4rem;
  text-align: center;
  display: grid;
  place-items: center;
}
main .result h2 {
  font-size: 23px;
  color: hsl(241, 100%, 89%);
  font-weight: 500;
}
main .result .main-percent {
  width: 200px;
  height: 200px;
  margin: 30px 0 25px;
  border-radius: 50%;
  padding: 20px;
  background-image: linear-gradient(to bottom, hsl(256, 72%, 46%), hsla(241, 72%, 46%, 0));
  display: grid;
  place-items: center;
}
main .result .main-percent span {
  font-size: 5rem;
  font-weight: 800;
  color: hsl(221, 100%, 96%);
  display: block;
}
main .result .main-percent small {
  color: hsl(241, 100%, 80%);
  margin-top: -50px;
}
main .result .score {
  margin: 20px 0;
  display: grid;
  gap: 15px;
}
main .result .score h3 {
  font-size: 25px;
  color: hsl(241, 100%, 95%);
}
main .result .score p {
  color: hsl(241, 100%, 85%);
}
main .summary {
  background-color: hsl(0, 0%, 100%);
  padding: 2rem;
  padding-left: 4rem;
  padding-right: 3rem;
  margin-left: -20px;
  flex-basis: 50%;
  z-index: -1;
  border-radius: 0 30px 30px 0;
  box-shadow: -10px 20px 30px -5px hsl(241, 100%, 91%);
}
main .summary h2 {
  font-size: 24px;
}
main .summary .features {
  display: grid;
  gap: 15px;
  margin: 25px 0;
}
main .summary .features li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 15px;
  border-radius: 8px;
}
main .summary .features li .feature {
  display: flex;
  gap: 10px;
}
main .summary .features li .feature p {
  font-weight: 600;
}
main .summary .features li .percent {
  display: flex;
  gap: 5px;
  color: rgba(0, 0, 0, 0.566);
}
main .summary .features li .percent span:first-of-type {
  font-weight: 600;
  color: black;
}
main .summary .features li.reaction {
  background-color: hsl(0, 100%, 97%);
}
main .summary .features li.reaction p {
  color: hsl(0, 100%, 67%);
}
main .summary .features li.memory {
  background-color: hsl(39, 100%, 97%);
}
main .summary .features li.memory p {
  color: hsl(39, 100%, 56%);
}
main .summary .features li.verbal {
  background-color: hsl(166, 100%, 97%);
}
main .summary .features li.verbal p {
  color: hsl(166, 100%, 37%);
}
main .summary .features li.visual {
  background-color: hsl(234, 85%, 97%);
}
main .summary .features li.visual p {
  color: hsl(234, 85%, 45%);
}
main .summary button {
  margin-top: 5px;
  padding: 15px 45px;
  width: 100%;
  color: hsl(0, 0%, 100%);
  font-size: 18px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.2s;
  position: relative;
  background-color: hsl(224, 30%, 27%);
}
main .summary button a {
  position: relative;
  z-index: 1;
}
main .summary button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, hsl(241, 81%, 54%), hsl(252, 100%, 67%));
  border-radius: inherit;
  opacity: 0;
  transition: 0.2s ease;
}
main .summary button:hover::before {
  opacity: 1;
}

@media (max-width: 768px) {
  main {
    flex-direction: column;
    left: 0;
    top: 0;
    transform: none;
  }
  main .result {
    border-radius: 0 0 30px 30px;
    padding: 2rem 3rem;
  }
  main .result p {
    font-size: 14px;
  }
  main .summary {
    border-radius: 0;
    margin-top: -20px;
    margin-left: 0;
    padding: 2rem 1rem;
  }
  main .summary h2 {
    font-size: 18px;
    margin: 10px 0;
  }
}/*# sourceMappingURL=main.css.map */